[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
colorama = "*"
shellingham = "*"
pytest = "*"
pyenchant = "*"
wheel = "*"
twine = "*"
setuptools = "*"

[dev-packages]

[requires]
python_full_version = "3.11.2"
